<div class = "container">
    
    <mat-card class = "cardStyle" >
        <mat-toolbar ><span>Login</span></mat-toolbar>
        <form (ngSubmit) = "onSubmitClick(username, password)" autocomplete="off" >
            <mat-form-field appearance='outline'>
              <mat-label>Email*</mat-label>
              <input
               matInput 
               #username
               placeholder="Example : username@incedoinc.com">
            </mat-form-field>
    
            <mat-form-field appearance='outline'>
                <mat-label>Password*</mat-label>
                <input 
                matInput
                type= "password"  
                #password
                placeholder="password">
            </mat-form-field>

            <button mat-raised-button 
                color="primary"
                style="width: 50%; margin-top:5px"
                type="submit">
                Sign in 
            </button>
            <span *ngIf="isShowInvalid"  style="font-size: 13px; color: red;" >*Invalid Credential</span>
          </form>
    </mat-card>

</div>
