<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Sign in</mat-card-title>
      </mat-card-header>
  
      <form [formGroup]="profileForm"  autocomplete="off" >
        <mat-card-content>
          <mat-form-field class="full-width" appearance='outline'>
            <mat-label>Email</mat-label>
                <input 
                    matInput 
                    formControlName="email"
                    placeholder="Example : username@incedoinc.com"
                >

          </mat-form-field >
  
          <mat-form-field class="full-width" appearance='outline'>
            <mat-label>Password*</mat-label>
            <input 
                matInput 
                type= "password"
                formControlName="password"
                placeholder="Password"
            >
          </mat-form-field>
        </mat-card-content>
        <button 
            mat-stroked-button             
            class="btn-block"
            (click)="onSubmitClick()"
            type="submit"
            [disabled]="profileForm.invalid"
         >Login
        </button>

        <span *ngIf="isShowInvalid"  style="font-size: 13px; color: red;" >*Invalid Credential</span>

      </form>
    </mat-card>
  
  </div>