.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    
}

.cardStyle{
 
    width : 27%;

}

.formstyle{
    display: flex;
    height: 200px;
    align-items: stretch;
}

